!!!
%html
  %head
    %title PlanergyKft
    
    / = stylesheet_link_tag 'compass_bootstrap.csss', :media => 'screen, projection'
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.bp.two-col
    #container
      #header
        pLAnergy Kft.
      = yield
      #footer                          
        %p
          Készítette: Feil Ferenc, pLAnergy Kft. minden jog fenntartva 
          = @date
      